.formRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.formControl {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
}


.inputBase,
.selectBase {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
}

.inputBase::placeholder{
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
}

.suffixInput {
  position: relative;
  display: inline-block; /* shrink-to-content */
}

/* make space for the % */
.suffixInput .inputBase {
  padding-right: 1.5em;
}

/* absolutely position the % */
.suffixInput .suffix {
  position: absolute;
  top: 50%;
  right: 0.5em;            /* tweak for perfect centering */
  transform: translateY(-50%);
  pointer-events: none;    /* clicks go through to the input */
  color: var(--color-secondary);
  font-weight: bold;
}

.periodToggle{
  display: flex;          /* row */
  gap: 12px;              /* space between the two labels */
  align-items: center;
}
.radioInline {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}