
ic-wrapper {
  background:#fdfdfd;
  padding:40px 20px;
  border-radius:12px;
  margin:40px auto;
  max-width:960px;
}


.ic-panel {
  background:#c6c3c3;
  max-width: 600px;
  align-items: center;
  border-radius:12px;
  box-shadow:0 4px 16px rgba(0,0,0,.06);
  padding:32px 24px;
  margin-bottom:40px;
}

/*.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}*/

#impactCalculatorDiv input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#impactCalculatorDiv input[type="number"] {
  -moz-appearance: textfield;
}

.impactCalculatorHighlight {
  color: var(--color-secondary);
  display: inline-block;
  font-weight: bold;
  width: 55px;
}

#impactCalculatorDiv input,
select {
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 2px;
}

#impactCalculatorDiv input[type="range"] {
  vertical-align: middle;
  padding: 0px;
}

#impactCalculatorDiv input:focus,
select:focus {
  outline-width: 0px;
}

.form__fieldset {
  align-items: center;
  border-width: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__legend {
  font-size: 28px;
  text-align: center;
}

.form__range-input-wrapper {
  align-items: center;
  display: flex;
  margin-top: 5px;
}

.form__range-input-label {
  margin-bottom: 0;
  margin-right: 20px;
  margin-top: 0;
}

.impact-calculator-donation-button {
  background-color: var(--color-secondary);
  border-radius: 100px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
  padding: 16px 40px;
  /* !important because Squarespace default styles use it too */
  text-decoration: none !important;
}

.impact-calculator-donation-button__label {
  display: inline-block;
  vertical-align: middle;
}

.impact-calculator-donation-button__icon {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.results {
  align-self: stretch;
}

.results-row {
  display: flex;
  flex-direction: column;
}

.results-row:last-child {
  margin-bottom: 0;
}

.results-row__cell {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.results-row__output-label {
  font-size: 20px;
  font-weight: 300;
}

.results-row__output-value {
  font-size: 40px;
  font-weight: 700;
}

.results-row__logo {
  max-width: 100%;
}

@media (max-width: 710px) {
  .main-container {
    max-width: 580px;
  }

  .results {
    /*
      !important to override this rule on Squarespace:
      .sqs-block-code .sqs-block-content :last-child {
        margin-bottom: 0;
      }
      */
    margin-bottom: 60px !important;
  }

  .results-row {
    margin-bottom: 40px;
  }

  .results-row__cell {
    margin-bottom: 10px;
  }
}

@media (min-width: 710px) {
  .main-container {
    max-width: 1000px;
  }

  .results {
    /*
      !important to override this rule on Squarespace:
      .sqs-block-code .sqs-block-content :last-child {
        margin-bottom: 0;
      }
      */
    margin-bottom: 72px !important;
  }

  .results-row {
    flex-direction: row;
    margin-bottom: 64px;
  }

  .results-row__cell:first-child {
    margin-right: 40px;
  }

  .results-row__cell:last-child {
    margin-left: 40px;
  }

  .results-row__output-label {
    margin-bottom: 24px;
  }
}

.impact-calculator-sharing-container {
  background-color: var(--color-tertiary);
}

.impact-calculator-sharing {
  align-items: stretch;
  padding-bottom: 20px;
  padding-top: 20px;
}

.impact-calculator-sharing__title {
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 24px;
}

.impact-calculator-sharing__buttons {
  display: flex;
}

.impact-calculator-sharing__button {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
}
